.info= "files_root is #{Model::Item.files_root}"
%h3 create
.create
  %form{ :method => "post", :action => "/" }
    %input{ :type => "text", :name => "uri", :placeholder => "uri", :size => 80 }
    %br
    %input{ :type => "text", :name => "cookie", :placeholder => "cookie", :size => 80 }
    %br
    %input{ :type => "text", :name => "user_agent", :placeholder => "user_agent", :size => 80 }
    %br
    %input{ :type => "submit", :value => "create new file" }

%h3 files
%table.files
  %tr
    %th uri
    %th info
    %th action
    %th local file
  - @items.each do |item|
    %tr.item
      %td= item.uri
      %td
        = "#{item.status} #{item.updated_at} #{item.filesize}"
      %td
        %form{ :method => "post", :action => "/delete" }
          %input{ :type => "hidden", :name => "uri", :value => item.uri }
          %input{ :type => "submit", :value => "delete" }
        %form{ :method => "post", :action => "/reset" }
          %input{ :type => "hidden", :name => "uri", :value => item.uri }
          %input{ :type => "submit", :value => "reset" }
      %td
        - if item.done?
          %a{ :href => item.local_uri }= item.filename
